@import url('/static/css/base.css');
.socialaccount_providers .providers-list{
    padding: .5rem 2rem;
    width: 150px;
    position: relative;
    margin-top: .5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    background-image: var(--order-background-image);
    border-radius: 20px;
}
.socialaccount_providers{
    margin-top: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-25px);
}
.providers-list a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}